<ion-menu side="start" menuId="menuPaciente" contentId="paciente">
    <ion-header>
        <ion-toolbar>
            <ion-title>Paciente</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-no-border">
        <ion-list>
            <ion-menu-toggle>
                <ion-item routerLink="/ver-citas-paciente">
                    <ion-icon slot="start" name="book-outline"></ion-icon>Citas</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet id="paciente"></ion-router-outlet>

<ion-header>
    <ion-toolbar class="ion-no-border" color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="menuPaciente"></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="showPop($event)">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Paciente</ion-card-subtitle>
            <ion-card-title>{{paciente.data.nombres + ' ' + paciente.data.apellidos}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <strong>Cédula:</strong> {{paciente.data.cedula}} <br>
            <strong>Fecha de nacimiento:</strong> {{paciente.data.fechaNac}} <br>
            <strong>Teléfono:</strong> {{paciente.data.telefono}} <br>
            <strong>Tipo de sangre:</strong> {{paciente.data.tipoSangre}} <br>
            <strong>Estado civíl:</strong> {{paciente.data.estadoCivil}} <br>
            <strong>Email:</strong> {{paciente.data.email}} <br>
        </ion-card-content>
    </ion-card>

</ion-content>