<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Mis Citas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list *ngIf="citasAprobadas.length != 0">
        <ion-list-header>Citas aprobadas</ion-list-header>
        <ion-item *ngFor="let cita of citasAprobadas">
            <ion-avatar slot="start">
                <ion-icon style="zoom:2.5;" name="alert-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>{{cita.nombres}}</h2>
                <h3>{{cita.hora}}</h3>
                <h3>{{cita.fecha}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="citasAprobadas.length == 0">
        <ion-list-header>No tiene citas aprobadas</ion-list-header>
    </ion-list>
    <br>
    <ion-list *ngIf="citasPendientes.length != 0">
        <ion-list-header>Citas Pendientes de Aprobación</ion-list-header>
        <ion-item *ngFor="let cita of citasPendientes">
            <ion-avatar slot="start">
                <ion-icon style="zoom:2.5;" name="hourglass-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>{{cita.nombres}}</h2>
                <h3>{{cita.hora}}</h3>
                <h3>{{cita.fecha}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="citasPendientes.length == 0">
        <ion-list-header>No tiene citas pendientes de aprobación</ion-list-header>
    </ion-list>
    <br>
    <ion-list *ngIf="citasAtendidas.length != 0">
        <ion-list-header>Citas ya atendidas</ion-list-header>
        <ion-item *ngFor="let cita of citasAtendidas">
            <ion-avatar slot="start">
                <ion-icon style="zoom:2.5;" name="checkmark-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>{{cita.nombres}}</h2>
                <h3>{{cita.hora}}</h3>
                <h3>{{cita.fecha}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="citasAtendidas.length == 0">
        <ion-list-header>No tiene citas ya atendidas</ion-list-header>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary" (click)="nuevaCita()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>