<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Historial</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-card>
        <ion-card-header>
            <ion-card-title>Historial</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label><strong>Síntomas</strong> {{historial.data.sintomas}}</ion-label><br>
            <ion-label><strong>Antecedentes</strong> {{historial.data.antecedentes}}</ion-label><br>
            <ion-label><strong>Fecha</strong> {{historial.data.fecha}}</ion-label><br>
            <ion-label><strong>Valor de la consulta</strong> ${{historial.data.total}}</ion-label>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Receta</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label><strong>Medicamento</strong> {{receta.data.medicamento}}</ion-label><br>
            <ion-label><strong>Indicaciones</strong> {{receta.data.indicaciones}}</ion-label>
        </ion-card-content>
    </ion-card>

</ion-content>