<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-title>Consultas</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <!--<ion-label>Paciente</ion-label>-->
        <ion-label>Sintomas</ion-label>
        <ion-label>Fecha</ion-label>
    </ion-item>
    <ion-list *ngFor="let consulta of consultas | async; trackBy: trackByFn">
        <ion-item>
            <!--<ion-label (click)="showConsulta(consulta.uid)">{{consulta.ApellidosNombres}}</ion-label>-->
            <ion-label (click)="showConsulta(consulta.uid)">{{consulta.sintomas}}</ion-label>
            <ion-label (click)="showConsulta(consulta.uid)">{{consulta.fecha}}</ion-label>
            <!--<ion-label [class]="consulta.saldo>0.0?'saldo':''" (click)="showConsulta(consulta.uid)">{{consulta.saldo}}</ion-label>-->
        </ion-item>
    </ion-list>
</ion-content>