<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Actualizar perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form #crarCitaForm="ngForm" (ngSubmit)="actualizarUsuario()">

        <ion-list>

            <ion-item transparent *ngIf="usuario.data.cedula != null ">
                <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
                <ion-input [(ngModel)]="usuario.data.cedula" placeholder="Cédula" type="number" name="cedula"></ion-input>
            </ion-item>
            <ion-item transparent>
                <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
                <ion-input [(ngModel)]="usuario.data.nombres" placeholder="Nombres" type="text" name="nombres"></ion-input>
            </ion-item>
            <ion-item transparent>
                <ion-icon slot="start" icon-small name="person-outline"></ion-icon>
                <ion-input [(ngModel)]="usuario.data.apellidos" placeholder="Apellidos" type="text" name="apellidos"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Fecha de nacimiento</ion-label>
                <ion-input [(ngModel)]="usuario.data.fechaNac" type="date" name="fechaNac"></ion-input>
            </ion-item>
            <ion-item transparent *ngIf="usuario.data.telefono != null && usuario.data.rol !='admin'">
                <ion-icon slot="start" icon-small name="call-outline"></ion-icon>
                <ion-input [(ngModel)]="usuario.data.telefono" placeholder="Teléfono" type="number" name="telefono"></ion-input>
            </ion-item>
            <ion-item *ngIf="usuario.data.tipoSangre != null && usuario.data.rol !='admin' " >
                <ion-label>Tipo de sangre</ion-label>
                <ion-select ok-text="Ok" cancel-text="Cancelar" name="tipoSangre" [(ngModel)]="usuario.data.tipoSangre">
                    <ion-select-option value="A+">A+</ion-select-option>
                    <ion-select-option value="B+">B+</ion-select-option>
                    <ion-select-option value="O+">O+</ion-select-option>
                    <ion-select-option value="AB+">AB+</ion-select-option>
                    <ion-select-option value="A-">A-</ion-select-option>
                    <ion-select-option value="B-">B-</ion-select-option>
                    <ion-select-option value="O-">O-</ion-select-option>
                    <ion-select-option value="AB-">AB-</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="usuario.data.estadoCivil != null">
                <ion-label>Estado civil</ion-label>
                <ion-select ok-text="Ok" cancel-text="Cancelar" name="estadoCivil" [(ngModel)]="usuario.data.estadoCivil">
                    <ion-select-option value="Soltero">Soltero</ion-select-option>
                    <ion-select-option value="Casdo">Casado</ion-select-option>
                    <ion-select-option value="Divorciado">Divorciado</ion-select-option>
                </ion-select>
            </ion-item>

        </ion-list>

        <ion-button expand="full" color="primary" type="submit">Actualizar</ion-button>

    </form>

</ion-content>