<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-title>Citas Atendidas</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>
        <ion-list-header>Citas atendidas</ion-list-header>
        <ion-item *ngFor="let cita of citas | async; trackBy: trackByFn">
            <ion-label (click)="showCita(cita.uid)">
                <h2>{{cita.sintomas}}</h2>
                <h3>{{cita.fecha}}</h3>
                <h3>{{cita.hora}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>