<ion-header>
  <ion-toolbar>
    <ion-title>Ingresar Consulta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    
    <ion-item>
      <ion-button id="verPaciente" (click)="verUsuario()">Ver informacion Paciente</ion-button>
    </ion-item>

    <!--<ion-item [class]="click>0?'verPaciente':''">
      <ion-label >{{usuario.ApellidosNombres}}</ion-label>
    </ion-item>-->

    <ion-item [class]="click>0?'verPaciente':'hiddenPaciente'">
      <ion-list>
        <ion-label>{{usuario2.apellidos}}</ion-label>
        <ion-label>{{usuario2.nombres}}</ion-label>
        <ion-label>{{usuario2.fechaNacimiento}}</ion-label>
        <ion-label>{{usuario2.grupoSanguineo}}</ion-label>
        <ion-label>{{usuario2.estadoCivil}}</ion-label>
        <ion-label>{{usuario2.ocupacion}}</ion-label>
      </ion-list>
    </ion-item>

    

    <ion-item>
      <ion-label position="stacked">Antecedentes</ion-label>
      <ion-textarea required type="text" [(ngModel)]="consulta.antecedentes"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sintomas</ion-label>
      <ion-textarea required type="text" [(ngModel)]="sintomas"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" readonly="true" requiered type="text" [(ngModel)]="fechaActual"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Total</ion-label>
      <ion-textarea required type="text" [(ngModel)]="consulta.total"></ion-textarea>
    </ion-item>

  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit"  (click)="guardarConsulta()">Guardar</ion-button>
  </div>
</ion-content>
