<ion-menu side="start" menuId="menuAdmin" contentId="admin">
    <ion-header>
        <ion-toolbar>
            <ion-title>Administrador</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-list>
            <ion-menu-toggle>
                <ion-item routerLink="/ver-medicos-admin">
                    <ion-icon slot="start" name="bandage-outline"></ion-icon>Médicos</ion-item>
                <ion-item routerLink="/ver-pacientes-admin">
                    <ion-icon slot="start" name="people-outline"></ion-icon>Pacientes</ion-item>
                <ion-item routerLink="/ver-citas">
                    <ion-icon slot="start" name="calendar"></ion-icon>Citas</ion-item>
                <ion-item routerLink="/ver-facturas">
                    <ion-icon slot="start" name="card"></ion-icon>Facturas</ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet id="admin"></ion-router-outlet>

<ion-header>
    <ion-toolbar class="ion-no-border" color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="menuAdmin"></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="showPop($event)">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>